body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#myBtn {
    background-color: #bebebe;
    box-shadow: 0 0 5px #000000;
    border-radius: 10%;
    cursor: pointer;
}

#myBtn:hover {
    transform: scale(1.5);
    transition: transform 0.2s ease-in-out;
}